/* VARIABLES */
:root {
    --white-color: #FFFFFF;
    --primary-color: #ffc107;
    --section-bg-color: #f9f9f9;
    --dark-color: #000000;
    --grey-color: #fcfeff;
    --text-subtitle-white-color: rgba(255, 255, 255, 0.98);
    --title-color: #565758;
    --p-color: #717275;

    --body-font-family: 'Noto Sans JP', sans-serif;

    --h1-font-size: 72px;
    --h2-font-size: 42px;
    --h3-font-size: 36px;
    --h4-font-size: 32px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 20px;
    --copyright-text-font-size: 14px;
    --custom-link-font-size: 12px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

body,
html {
    height: 100%;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);
    position: relative;
}


/* END VARIABLES */

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-black);
    line-height: normal;
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    letter-spacing: 0.5px;
}

.subtitle-text {
    color: var(--text-subtitle-white-color);
}

button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    color: var(--p-color);
    text-decoration: none;
    touch-action: manipulation;
    transition: all 0.3s;
}

a:hover {
    color: var(--primary-color);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    z-index: -100;
}

.custom-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    background: linear-gradient(to top, #000, transparent 90%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* NAV-BAR */

.navbar {
   z-index: 9;
   right: 0;
   left: 0;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right: 15px;
    padding-left: 15px;
}

.navbar-link {
color: var(--primary-color);
font-size: 24px;
font-weight: var(--font-weight-bold);
}
